{% extends "base.html" %}


{% block head_title %}
{{ title }}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <h1>Splitter</h1>
    <h5> By Ahmad & Assef</h5>
    <p>
        If you’re on a trip with friends or planning a picnic or party with co-workers, it is possible that someone will be paying the Uber bill while others are left paying for drinks or hotel costs. But you need to track all of these expenses and finally split the cost among the participants without ending up with mess.
        By using the Splitter, you can efficiently manage all costs per individual, track ‘who paid how much’ and ‘who should pay to whom’ via your mobile devices or from desktop browser.
        Just create a group and share it among the participants to add their expenses.
    </p>
</main>
{% endblock %}