{% extends "base.html" %}

{% block navbar %}

{% include 'navbar.html' %}

{% endblock %}


{% block head_title %}

{% if title %}{{ title }}{% endif %}

{% endblock %}


{% block content %}

<div class="row">
    <div class="card col-md-4 offset-md-4 col-12">
        <div class="card-body">
            <b>Hello {{ account.first_name }}</b>
        </div>
    </div>
</div>


<div class="row">

    <div class="card col-md-4 offset-md-4 col-12">
        <div class="card-header">
            Your Groups
        </div>
        <div class="card-body">
            <div class="list-group">
                {% for group in groups %}
                <a href="{{ account.get_absolute_url }}{{ group.group_fk.get_absolute_url }}"
                    class="list-group-item list-group-item-action list-group-item-primary">{{ group.group_fk.group_name }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

</div>
<div class="row">
    <a class="btn btn-primary col-md-2 offset-md-5 col-8 offset-2" href="{{ account.get_add_url }}" role="button">Add
        Group</a>
</div>
{% endblock %}