{% extends "base.html" %}

{% load static %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
{% include 'breadcumber.html' %}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="jumbotron">
        <div class="row">
            {% for group in groups %}
            <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
                <div class="card">
                    {% if group.group_picture %}
                    <img src="{{ group.get_group_picture_address }}" class="card-img-top" alt="img" width="100%">
                    {% else %}
                    <img src="{% static 'img/default-group-picture.png' %}" class="card-img-top" alt="img" width="100%">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ group.group_fk.group_name }}</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the
                            card's content.</p>
                        <a href="{{ group.group_fk.get_absolute_url }}/view" class="btn btn-outline-primary">View this
                            group</a>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}