{% extends "base.html" %}

{% load static %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class="jumbotron">
    <h1 class="display-4">Hello, {{ account.user.first_name }}!</h1>
</div>

<div class="row">
    {% for group in groups %}
    <div class="col col-12 col-sm-6 col-md-4 col-lg-3">
        <div class="card">
            <img src="{% static 'img/test.jpeg' %}" class="card-img-top" alt="img">
            <div class="card-body">
                <h5 class="card-title">{{ group.group_fk.group_name }}</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="{{ group.group_fk.get_absolute_url }}/veiw"
                    class="btn btn-primary">View this group</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<div class="row justify-content-center">
    <a class="btn btn-primary col col-10 col-sm-6 col-md-4 col-lg-3" href="{{ account.get_add_url }}" role="button">Add
        Group</a>
</div>
{% endblock %}