{% extends "base.html" %}
{% block navbar %}

{% include 'navbar.html' %}

{% endblock %}

{% block head_title %}
{% if title %}
{{ title }}
{% endif %}
{% endblock %}

{% block content %}
</br>
<div class="row">
    <div class="col-md-3 col-12">
        <form method='POST' action="{{ account.get_add_url }}"> {% csrf_token %}
            <div class="form-group">
                <label for="id_group_id" class="sr-only">Group id</label>
                <input name="group_id" type="text" id="id_group_id" class="form-control" placeholder="Group id" required
                    autofocus>
            </div>
            <div class="form-group">
                <label for="id_group_name" class="sr-only">Group Name</label>
                <input name="group_name" type="text" id="id_group_name" class="form-control" placeholder="Group Name"
                    required>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>
{% endblock %}