{% extends "base.html" %}
{% load static %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
<div class="dropdown" style="position: absolute; right: 7%; padding-top: 3px;">
    {% if account.profile_picture %}
    <img src="{{ account.get_profile_picture_address }}" class="rounded-circle" width="40" height="40"></img>
    {% else %}
    <img src="{% static 'img/test.jpeg' %}" class="rounded-circle" width="40" height="40"></img>
    {% endif %}
    <button type="button" class="btn btn-outline-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
        aria-expanded="false">
        {{account.user.get_short_name}}
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="">Profile</a>
        <a class="dropdown-item" href="/logout">Logout</a>
        <a class="dropdown-item" href="{{ account.get_add_url }}">Create group</a>
    </div>
</div>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/{{account.get_absolute_url}}">{{account.user.get_short_name}}</a></li>
        <li class="breadcrumb-item" aria-current="page"><a href="/{{group.group_id}}/view">{{group.group_name}}</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add expense</li>
    </ol>
</nav>
{% endblock %}

{% block content %}


<form method='POST' action=""> {% csrf_token %}

    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label">Title</label>
        <div class="col-sm-10">
            <input name="title" class="form-control" id="title" placeholder="Title">
        </div>
    </div>

    <div class="form-group row">
        <label for="payer_id" class="col-sm-2 col-form-label">Payer</label>
        <div class="col-sm-10">
            <select name="payer_id" class="form-control" id="payer_id">
                {% for member in members %}
                <option>{{ member.user.username }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <div class="form-group row">
        <label for="cost" class="col-sm-2 col-form-label">Cost</label>
        <div class="col-sm-10">
            <input name="cost" class="form-control" id="cost" placeholder="Cost">
        </div>
    </div>

    {% for member in members %}
    <div class="form-group row">
        <label for="ratio_of_{{ member.user.username }}" class="col-sm-2 col-form-label">Ratio of
            {{ member.user.get_short_name }}</label>
        <div class="col-sm-10">
            <input name="ratio_of_{{ member.user.username }}" class="form-control"
                id="ratio_of_{{ member.user.username }}" value="0"
                placeholder="Ratio of {{ member.user.get_short_name }}">
        </div>
    </div>
    {% endfor %}

    <button type="submit" class="btn btn-primary">Add Expense</button>
</form>
{% endblock %}