{% extends "base.html" %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="row">
        <div class="col-md-3 col-12">
            <form method='POST' action="{{ account.get_add_url }}"> {% csrf_token %}
                <p>
                    Are you sure you want to delete this expense?
                </p>
                <button type="submit" name="yes_sub" class="btn btn-primary">Yes</button>
                <button type="submit" name="no_sub" class="btn btn-primary">No</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}