{% extends "base.html" %}

{% load static %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div class='col-12 col-md-10 mb-3 mx-auto'>
    <div class='card'>
        <div class='card-body'>
            <p class='card-title'>Group id: {{ group.group_id }}</p>
            <p class='card-title'>Group name: {{ group.group_name }}</p>
            <p class='card-title'>Group admin: {{ group.admin_fk.account_id}}</p>
        </div>
    </div>
</div>

<div class="row justify-content-center">
    {% for member in members %}
    <div class="col col-sm-6 col-lg-3">
        <img class="rounded-circle" src="{% static 'img/test.jpeg' %}" width="180" height="180">
        </img>
        <h2 style="padding-left: 10%;">{{ member.member_fk.first_name }}</h2>
        <p style="padding-left: 10%;">Balance: {{ member.balance }}</p>
        <p style="padding-left: 10%;">
            <a class="btn btn-primary" href="./{{group.group_id}}/settle/{{member.member_fk.account_id}}">
                Settle
            </a>
        </p>
        <p style="padding-left: 10%;">
            <button class="btn btn-primary" type="button" data-toggle="collapse"
                data-target="#{{ member.member_fk.first_name }}" aria-expanded="false"
                aria-controls="{{ member.member_fk.first_name }}">
                View details &raquo;
            </button>
        </p>
        <div class="collapse" id="{{ member.member_fk.first_name }}">
            <div class="card card-body">
                {% if member.balance > 0 %}
                Credits:
                {% else %}
                Debts:
                {% endif %}
                {% for key, value in details.items %}
                {% if key == member.member_fk.account_id %}
                {% for key2, value2 in value.items %}
                {% if member.balance > 0 %}
                <p>{{ value2 }} from {{ key2 }}</p>
                {% else %}
                <p>{{ value2 }} to {{ key2 }}</p>
                {% endif %}
                {% endfor %}
                {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<div class="row justify-content-center">
    </br>
    {% for record in records %}
    <div class="col col-sm-6 col-lg-4">
        {% if record.record_type == 'payment' %}
        <a href="{{ group.group_id }}/{{ record.pk }}">
            <ul class="list-group">
                <li class="list-group-item bg-light text-dark">
                    Title: {{ record.title }}
                    </br>
                    Cost: {{ record.cost }} Tomans
                    </br>
                    Added At: {{ record.date_time }}
                </li>
            </ul>
        </a>
        {% endif %}
        {% if record.record_type == 'settle' %}
        <a href="{{ group.group_id }}/{{ record.pk }}">
            <ul class="list-group">
                <li class="list-group-item bg-dark text-white">
                    Title: {{ record.title }}
                    </br>
                    Cost: {{ record.cost }} Tomans
                    </br>
                    Added At: {{ record.date_time }}
                </li>
            </ul>
        </a>
        {% endif %}
    </div>
    {% endfor %}
</div>




<a class="btn btn-primary" href="{{ account.get_absolute_url }}{{ group.get_absolute_url }}/add-record"
    role="button">Add Record</a>

<br>
<br>

{% if group.admin_fk == account %}

<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Add Member</button>
</form>

<a class="btn btn-primary" href="{{ account.get_absolute_url }}{{ group.get_absolute_url }}/delete-group"
    role="button">Delete Group</a>
<a class="btn btn-primary" href="{{ account.get_absolute_url }}{{ group.get_absolute_url }}/edit-group"
    role="button">Edit Group</a>

{% endif %}

{% endblock %}

{% block js %}
<script>
    $('.popover-dismiss').popover({
        trigger: 'focus'
    })
</script>
{% endblock %}