{% extends "base.html" %}


{% block content %}
{% if title %}
<h1>{{ title }}</h1>
{% endif %}
<div class='col-12 col-md-10 mb-3 mx-auto'>
    <div class='card'>
        <div class='card-body'>
            <p class='card-title'>{{ group.group_id }}</p>
            <p class='card-title'>{{ group.group_name }}</p>
            <p class='card-title'>{{ group.admin_id }}</p>
        </div>
    </div>
</div>
<a class="btn btn-primary" href="#" role="button">Add Record</a>

<form method='POST' action='' enctype='multipart/form-data'> {% csrf_token %}
    {{ form.as_p }}
    <button type='submit'>Add Member</button>
</form>

{% endblock %}