{% extends "base.html" %}
{% load static %}

{% block style %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<!-- Custom styles for this template -->
<link href="{% static 'css/carousel.css' %}" rel="stylesheet">
{% endblock %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock %}

{% block content %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-left">
                    <h1>Split bills, not friendships</h1>
                    <p>No more fiddling about with change, lost receipts, or disagreements about the balance. Simply enter all your expenses and Splid shows you who owes how much to whom.</p>
                    <p><a class="btn btn-lg btn-primary" href="register" role="button">Register now</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption">
                    <h1>Gone are the days of the old excel file</h1>
                    <p>An easier and effective solution exists to breakdown the costs, sharing expense reports, list tickets and spending. Splitter does the accounting and balances the cost for your group expenses.</p>
                    <p><a class="btn btn-lg btn-primary" href="about" role="button">About us</a></p>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg"
                preserveAspectRatio="xMidYMid slice" focusable="false" role="img">
                <rect width="100%" height="100%" fill="#777" /></svg>
            <div class="container">
                <div class="carousel-caption text-right">
                    <h1>Have problem with Splitter?</h1>
                    <p>Feel comfortable to contact us. Our support team will solve your problem as soon as possible.</p>
                    <p><a class="btn btn-lg btn-primary" href="contact" role="button">Contact us</a></p>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<div class="container marketing">

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
    
    <div class="row featurette">
        <div class="col-md-7">
            <h2 class="featurette-heading">Forget about complicated spreadsheets!</h2>
            <p class="lead">Splitter helps you to split group expenses and is super easy to use. It's perfect for vacations, weekend trips, for household costs or any other group costs.
                    Simply add expenses as you go and Splitter will tell you who is next to pay and who owes whom how much.
                    Invite your friends and everybody can enter expenses.</p>
        </div>
        <div class="col-md-5">
                <img src="{% static 'img/favicon.png' %}" alt="LOGO" width="80%">
        </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
        <div class="col-md-7 order-md-2">
            <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span>
            </h2>
            <p class="lead">- Works offline</p>
            <p class="lead">- Syncs with friends</p>
            <p class="lead">- No registration needed</p>
            <p class="lead">- All currencies supported</p>
            <p class="lead">- PDF and CSV export</p>
        </div>
        <div class="col-md-5 order-md-1">
                <img src="{% static 'img/favicon.png' %}" alt="LOGO" width="80%">
        </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

</div><!-- /.container -->


<!-- FOOTER -->
<footer class="container">
    <p class="float-right"><a href="#">Back to top</a></p>
    <p>&copy; 2019 Assef & Ahmad. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>


{% endblock %}