{% extends "base.html" %}

{% block style %}
{% load static %}
<style>
    .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    @media (min-width: 768px) {
        .bd-placeholder-img-lg {
            font-size: 3.5rem;
        }
    }
</style>
<link rel="stylesheet" type="text/css" href="{% static 'css/signin.css' %}">
{% endblock %}

{% block head_title %}
{% if title %}{{ title }}{% endif %}
{% endblock %}

{% block content %}
<main role="main" class="container">
    <div class="text-center">
        <a href="/">
            <img class="mb-4" src="{% static 'img/favicon.png' %}" alt="LOGO" width="72" height="72">
        </a>
        <h1 class="h3 mb-3 font-weight-normal">Please register</h1>
        <form class="form-signin" enctype="multipart/form-data" method="POST" action="/register"> {% csrf_token %}
            <label for="first_name" class="sr-only">First Name</label>
            <input name="first_name" type="text" class="form-control" placeholder="First Name" required autofocus>
            <label for="last_name" class="sr-only">Last Name</label>
            <input name="last_name" type="text" class="form-control" placeholder="Last Name" required>
            <label for="username" class="sr-only">Username</label>
            <input name="username" type="text" class="form-control" placeholder="Username" required>
            <label for="password" class="sr-only">Password</label>
            <input name="password" type="password" class="form-control" placeholder="Password" aria-describedby="help"
                required>

            <div class="custom-file" style="text-align: left;">
                <input type="file" class="custom-file-input" id="profile_picture" name="profile_picture">
                <label class="custom-file-label" for="profile_picture">Profile Picture</label>
            </div>
            <small id="help" class="form-text text-muted">We'll never share your data with anyone else.</small>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> Remember me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
            <p class="mt-5 mb-3 text-muted">&copy; 2019</p>
        </form>
    </div>
</main>
{% endblock %}